@model SegHig.Data.Entities.Cliente

@{
    ViewData["Title"] = "Delete";
}
<flash dismissable="true" />
<h3>Está seguro de borrar esta Cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <partial name=_ClienteDetails/>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger btn-sm" />
        <a asp-action="Index" class="btn btn-outline-success btn-sm">Regresar</a>
    </form>
</div>
