@model SegHig.Models.FormularioDetalleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Detalle</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditFormularioDetalle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FormularioId" />
            <partial name=_FormularioDetalle/>
            
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                <a asp-action="DetailsFormulario" asp-route-id=@Model.FormularioId class="btn btn-outline-success btn-sm">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
