@model SegHig.Data.Entities.EmpresaTipo

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true" />

<div>
    <h4>Detalle de Tipo de Empresa</h4>
    <hr />
        <partial name=_EmpresaTipoDetails/>
</div>
<div>
       <div>
        <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>

</div>
