@model SegHig.Models.KPFormularioViewModel

<div class="form-group">
    <span class="required">*</span>
     <label asp-for="Orden" class="control-label"></label>
     <input asp-for="Orden" class="form-control" />
     <span asp-validation-for="Orden" class="text-danger"></span>

     <span class="required">*</span>
     <label asp-for="Name" class="control-label"></label>
     <input asp-for="Name" class="form-control" />
     <span asp-validation-for="Name" class="text-danger"></span>
     <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
</div>