@{
    ViewData["Title"] = "Home Page";
}

<hr />

<div >
        <div>
            <img src="~/images/09.png" class="img-responsive" />
            <img src="~/images/11.jpg" class="img-responsive" />
        </div>

</div>

<hr />
