@model SegHig.Data.Entities.ClienteTipo

@{
    ViewData["Title"] = "Details";
}
<flash dismissable="true" />

<div>
    <h4>Detalle de Tipo de Cliente</h4>
    <hr />
        <partial name=_ClienteTipoDetails/>
</div>
<div>
       <div>
        <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>


</div>
