@model SegHig.Data.Entities.ClienteTipo

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        <h4>Editar Tipo de Cliente</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name=_ClienteTipo/>
            <div class="form-group">
                               <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                <a asp-action="Index" class="btn btn-outline-success btn-sm">Regresar</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
